@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: 'Roboto Slab', serif;
}

h1 {
  color: #8B6A62;
  text-align: center;
  margin-top: 25px;
  font-size: 40px;
  letter-spacing: 5px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

h4 {
  color: #8B6A62;
  text-align: center;
  margin-top: 0;
  font-size: 20px;
  letter-spacing: 4px;
  margin-bottom: 30px;
}

.loader {
  width: 50%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 2555, 0.3);
}

.loader img {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
}


.image-container {
    margin: 10px 5%;
    columns: 4;
    column-gap: 1.8rem;
}

.image-container img {
  width: 100%;
  margin-bottom: 1.8rem;
  border-radius: 8px;
  transition: 0.4s transform ease-in-out;
  box-shadow: 0px 10px 30px -10px rgba(0,0,0,.3);
}

.image-container img:hover {
  transform: scale(1.04);
}

.unsplash-link {
  font-style: italic;
  text-decoration: none;
  color: rgb(17, 7, 7);
}
.unsplash-link:visited {
  text-decoration: none;
  color: rgb(17, 7, 7);
}
.unsplash-link:hover {
  text-decoration: none;
  color: rgb(17, 7, 7);
}
.unsplash-link:active {
  text-decoration: none;
  color: rgb(17, 7, 7);
}

@media only screen and (max-width:1000px) {
  .image-container {
      columns: 3;
  }
}

@media only screen and (max-width:768px) {
  .image-container {
      columns: 2;
  }
}

@media only screen and (max-width:500px) {
  .image-container {
      columns: 1;
  }
}